# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.Debug
*.Release

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
build-*

.DS_Store

*.autosave

#Doxygen
doc/html
doxygen_error.log


Doxyfile
