[submodule "vendor/rtmidi"]
	path = vendor/rtmidi
	url = https://github.com/thestk/rtmidi.git
[submodule "vendor/bandit"]
	path = vendor/bandit
	url = https://github.com/joakimkarlsson/bandit
[submodule "vendor/create-dmg"]
	path = vendor/create-dmg
	url = https://github.com/andreyvit/create-dmg.git
