# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
build-*

.DS_Store
Thumbs.db

*.autosave

#Doxygen
doc/html
doxygen_error.log
*.qm

*.orig
builds/

out.html

payload.json
