[submodule "vendor/rtmidi"]
	path = vendor/rtmidi
	url = https://github.com/thestk/rtmidi.git
[submodule "vendor/igloo"]
	path = vendor/igloo
	url = https://github.com/joakimkarlsson/igloo
[submodule "vendor/bandit"]
	path = vendor/bandit
	url = https://github.com/joakimkarlsson/bandit
