# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.swp
*.bak

# Qt-es

*.pro.user
*.pro.user.*
qrc_*.cpp

.DS_Store
Thumbs.db

*.autosave

#Doxygen
doc/html
doxygen_error.log
*.qm

*.orig
builds/

out.html

payload.json

.qmake.stash

# build folders
build-*
